<html>
    <head>
        <title>Secret Santa</title>
    </head>

    {% if user.is_authenticated %}
        <a href="logout"> Logout</a>
    {% else %}
       <a href="login">Login</a>
    {% endif %}

    {% block content %}
    {% endblock %}
</html>