{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<p>Hi {{user}}. {% if match %} You are matched with {{match.receiver}}, don't get them anything shit.{% else %} You aren't matched with anybody. {% endif %}</p>
{% else %}
<p>Hey bitches</p>
{% endif %}
{% endblock %}